:root {
  --white-color: #fff;
  --shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: relative;
  max-width: 1000px;
  margin: 30px auto;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.bg-line {
  width: 100vw;
  max-width: 1000px;
  height: 60vh;
  background-color: rgb(8, 145, 178);
  position: absolute;
  top: -30vh;
  transform: skewY(-15deg);
  z-index: -1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.513);
}

/* Utilities */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.flex-container-small {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
}

.social-icons img,
.contact-icons,
.social-icons-footer img {
  width: 20px;
}

/* About me section */
.about-me {
  background-color: var(--white-color);
  padding: 40px 20px 20px;
  box-shadow: var(--shadow);
  max-width: 600px;
}

.about-me-left {
  position: relative;
  max-width: 400px;
}

.about-me h1 {
  margin-bottom: 20px;
}

#profile-img {
  width: 100%;
  height: auto;
  box-shadow: var(--shadow);
}

#name {
  position: absolute;
  top: 410px;
  left: 55px;
  color: var(--white-color);
  font-size: 2rem;
}

/* Work section */
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.work-item {
  box-shadow: rgba(0, 0, 0, 0.15) 0.8px 1.95px 2.6px 1px;
  margin-bottom: 30px;
}

.work-item-details {
  padding: 0 30px 40px;
}

/* Contact section */
.contact h3 {
  font-size: 1.5rem;
}
.contact {
  margin: 30px 0;
  background-color: rgb(8, 145, 178);
  color: #fff;
  align-items: flex-start;
  gap: 2rem;
  padding: 30px;
}

.contact-img img {
  height: 300px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social-icons-footer img {
  margin-right: 10px;
}
